html {
    scroll-behavior: smooth;
    cursor: none;
}

body {
    margin: 0;
    background-color: white;
}

.profilePicture {
    position: absolute;
    top: 150px;
    z-index: 500;
}

.sidenav {
    position: fixed;
    top: 0;
    width: 437px;
    bottom: 0;
    left: -800px;
    z-index: 10;
    -webkit-transition: left 1s ease;
    transition: left 1s ease;
}

.sideNavImg {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.topLeftContainer {
    z-index: 11;
    position: fixed;
}

#topLeftContainer {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 280px solid #60768A;
    border-right : 1185px solid transparent;
}

.topLeft {
    position: fixed;
    top: 0;
    left: -1200px;
    z-index: 11;
    -webkit-transition: left 1s ease;
    transition: left 1s ease;
}

.topRightContainer {
    z-index: 12;
    position: fixed;
}

#topRightContainer {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 300px solid #D6974C;
    border-left : 1155px solid transparent;
}

.topRight {
    position: fixed;
    z-index: 12;
    right: -1200px;
    width: 100%;
    top: 0;
    -webkit-transition: right 1s ease;
    transition: right 1s ease;
}

.btn {
    position: absolute;
    background-color: #60768A;
    border: none;
    color: white;
    padding: 12px 16px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #566A7CFF;
}

#house-chimney {
    margin-left: 158px;
    left: 0;
    top: 440px;
    z-index: 15;
}

#address-card {
    margin-left: 158px;
    left: 0;
    top: 520px;
    z-index: 15;
}

#download {
    margin-left: 118px;
    left: 0;
    top: 680px;
    z-index: 15;
    width: 200px;
}

#address-book {
    margin-left: 158px;
    left: 0;
    top: 600px;
    z-index: 15;
}

.main {
    font-size: 10px;
    margin: 300px 0 100px 370px;
    padding: 24px 24px 12px 24px;
    color: black;
    font-family: "Segoe UI", Arial, sans-serif;
}

.me {
    position: fixed;
    top: 200px;
    margin-left: -1600px;
    -webkit-transition: margin-left 1s ease, transform 1s;
    transition: margin-left 1s ease, transform 1s;
}

.welcome {
    color: black;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 45px;
}

.background {
    width: 100%;
}

.info {
    background-color: #D8EBFC;
    padding: 5px 75px 5px 75px;
    margin: 5px 200px 5px 200px;
}

.coord {
    display: inline-block;
}

.about-me-list {
    padding-left: 50px;
}

.about-me h2 {
    font-weight: lighter;
}

.icon-skills {
    width: 70px;
    text-decoration: none;
}

.icon-skills-css {
    width: 50px;
}

.icon-skills-sketchup {
    height: 77px;
}

.icon-skills-sculptris {
    height: 70px;
}

.projects-title {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: lighter;
}

.contact-title {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: lighter;
}

.logo-contact {
    width: 50px;
    vertical-align: -15px;
}

.contact-text {
    color: black;
    font-size: 20px;
}

.cardAboutMe {
    z-index: 20;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    background-color: #fcfcfc;
    position: fixed;
    top: 43%;
    left: 48%;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, transform 1s;
    transition: opacity 0.5s, transform 1s;
}

.job {
    position: absolute;
    z-index: 23;
    right: 20px;
    top: 45px;
}

.pp {
    margin-left: 20%;
    vertical-align: center;
    border-radius: 100%;
    border: white solid 5px;
    width: 75px;
    display: inline-block;
    position: absolute;
    z-index: 22
}

.textAboutMe {
    text-align: justify;
    vertical-align: center;
    z-index: 23;
    margin: 0 0 0 40%;
}

.aboutMeBg {
    border-radius: 20px 0 0 20px;
    height: 300px;
    width: 35%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 21;
}

.cardContact {
    z-index: 25;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    background-color: #fcfcfc;
    position: fixed;
    top: 43%;
    left: 48%;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, transform 1s;
    transition: opacity 0.5s, transform 1s;
}

.footer-cr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.copyright {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    color: black;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

